*{
    margin: 0px;
    padding: 0px;
}

#main{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttons{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    border: solid black 4px;
}

#grey{
    background-color: grey;
}
